.idea/
*.iml
*.iws
.vscode/
.project
.settings/
.classpath
bin/
.DS_Store
Thumbs.db
target/
*.log
logs/
temp/
.mvn/wrapper/maven-wrapper.jar
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
.stylelintcache
*.sql.gz
*.sql.bak
*.db
*.tmp
~$*.doc*
